@import "../../styles/tokens.scss";

.ts-select {
  $self: &;
  width: fit-content;

  &__wrapper {
    max-width: 350px;
    min-width: 280px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    margin: $spacing-size-nano 0;
    align-items: center;
  }

  &__select {
    @include motion-token(switch-slow, "&:hover");
    flex: 1;
    font-family: $font-family-02;
    color: $contrast-color-brand;
    height: 45px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: transparent;

    &:hover {
      background-color: $brand-color-pink-01;
      color: $neutral-elements-01;
    }
  }

  &__label,
  &__info-message {
    font-family: $font-family-01;
  }

  &__info-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__info-message {
    font-size: $font-size-xxxs;
  }

  &--inverse {
    color: $neutral-elements-01;
    #{$self}__select {
      color: $neutral-elements-01;
      border-color: $neutral-elements-01;

      &:hover {
        background-color: $brand-color-blue-pure;
        color: $brand-color-blue-02;
      }
    }
  }

  &--success {
    color: $feedback-color-success-pure;
    #{$self}__select {
      color: $feedback-color-success-pure;
      border-color: $feedback-color-success-pure;

      &:hover {
        background-color: $feedback-color-success-pure;
        color: $neutral-elements-01;
      }
    }

    #{$self}__info-container {

      ts-icon::part(icon) {
        color: $feedback-color-success-pure;
      }
    }
  }

  &--error {
    color: $feedback-color-warning-pure;
    #{$self}__select {
      color: $feedback-color-warning-pure;
      border-color: $feedback-color-warning-pure;

      &:hover {
        background-color: $feedback-color-warning-pure;
        color: $neutral-elements-01;
      }
    }

    #{$self}__info-container {

      ts-icon::part(icon) {
        color: $feedback-color-warning-pure;
      }
    }
  }

  &--disabled {
    pointer-events: none;
    color: $neutral-elements-03;
    #{$self}__select {
      color: $neutral-elements-03;
      border-color: $neutral-elements-03;
    }
  }
}
