@import "../../styles/tokens.scss";

.ts-tooltip {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-01;

  &__content {
    position: absolute;
    font-family: $font-family-02;
    display: flex;
    align-items: center;
    background-color: $brand-color-pink-01;
    color: $neutral-elements-01;
    padding: 0.25rem 0.5rem;
    border-radius: $border-radius-pill;
    font-size: $font-size-xxs;
    width: max-content;
    visibility: hidden;

    ts-icon::part(icon) {
      margin-left: 0.25rem;
      margin-top: 2.5px;
      color: $neutral-elements-01;
    }

    &--top {
      transform: translateY(-120%);

      &.ts-tooltip__content--start {
        transform: translateY(-120%) translateX(-100%);
      }

      &.ts-tooltip__content--end {
        transform: translateY(-120%) translateX(100%);
      }
    }

    &--bottom {
      transform: translateY(120%);

      &.ts-tooltip__content--start {
        transform: translateY(120%) translateX(-100%);
      }

      &.ts-tooltip__content--end {
        transform: translateY(120%) translateX(100%);
      }
    }

    &--right {
      transform: translateX(100%);
    }

    &--left {
      transform: translateX(-100%);
    }
  }

  & slot:hover {
    & ~ #{$self}__content {
      visibility: visible;
    }
  }

  &--disabled {
    pointer-events: none;
    color: $neutral-elements-03 !important;
  }

  &--inverse {
    color: $neutral-elements-01;

    #{$self}__content {
      background-color: $brand-color-blue-pure;
      color: $brand-color-blue-02;

      ts-icon::part(icon) {
        color: $brand-color-blue-02;
      }
    }
  }
}
