@import "../../styles/tokens.scss";

.ts-heading {
  @include motion-token(switch-slow, "&:hover");
  $self: &;
  font-family: $font-family-01;
  color: $contrast-color-brand;

  &--inverse {
    color: $neutral-elements-01;
  }

  &__display {
    font-size: $font-size-display;
  }

  &__giant {
    font-size: $font-size-giant;
  }
}
