@import '../../styles/tokens.scss';

.ts-button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 260px;
    min-width: 260px;
    width: 100%;
}